$primary: #1c2e51;
$secondary: #3db166;
$text: #d4dff7;
// Poppins Font
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 800;
}

// SCSS Files
// Scroll To Top
@import "scrollToTop";
// TopBar
@import "topbar";
// Slider
@import "slider";

nav a img:nth-child(1) {
  width: 5rem;
}
nav a img:nth-child(2) {
  width: 9rem;
}
.nav-item {
  margin-left: 1.5rem;
}

.bottom-bar {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: rgb(202, 202, 202);
  }

  @media (max-width: 600px) {
    flex-direction: column;

    .l {
      display: none;
    }
  }
}

.up {
  width: 97%;
  margin: auto;
  position: relative;
  top: -3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .mycard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    flex-basis: 300px;
    padding: 2rem;
    color: #ffffff;

    div:nth-child(1) {
      font-size: 5rem;
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin-right: 1rem;
    }
  }
  .mycard:nth-child(1) {
    background-color: $primary;
  }
  .mycard:nth-child(2) {
    background-color: rgb(38, 62, 109);
  }
  .mycard:nth-child(3) {
    background-color: rgb(49, 79, 141);
  }
  .mycard:nth-child(4) {
    background-color: rgb(60, 97, 172);
  }
}

.apply {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  div {
    flex: 1;
    padding: 4rem;
    flex-basis: 400px;
  }
  .img {
    background-image: url(../img/school.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 24.5rem;
  }

  .admission {
    background-color: $primary;
    color: white;

    h4 {
      color: $secondary;
    }

    button {
      background-color: $secondary;
      border: none;
    }
  }
}

.about {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6rem 3rem;
  background-image: url(../img/about.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary;
  color: white;
  margin-top: 3rem;

  a {
    color: $secondary;
  }

  img {
    width: 15rem;
  }

  .school {
    flex: 1;
    flex-basis: 300px;
    z-index: 2;
  }
  .tex {
    flex: 2;
    flex-basis: 600px;
    font-size: 1.2rem;
    z-index: 2;

    p:nth-child(1) {
      color: $text;
    }
  }
}
.about::after {
  content: "";
  background-color: rgba(26, 48, 81, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.services {
  background-color: $primary;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;

  p {
    color: $text;
  }
  a {
    color: $secondary;
  }
  .fa-book,
  .fa-globe,
  .fa-school {
    color: $secondary;
    font-size: 3rem;
  }

  .service {
    flex: 1;
    flex-basis: 400px;
    padding: 1rem;
  }
}

footer {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  background-color: #25272e;
  color: #fff;
  padding: 2rem;

  hr {
    border-top: 2px solid $secondary;
  }
  a {
    color: #fff;
  }
  .fa-map-marker-alt,
  .fa-phone-alt,
  .fa-mobile-alt,
  .fa-envelope {
    color: $secondary;
  }
  .fa-facebook,
  .fa-instagram {
    font-size: 3rem;
    color: rgb(67, 67, 145);
  }
  .fa-instagram {
    color: #b93e94;
  }
  .contact {
    flex-basis: 350px;
    padding: 2rem;
    flex: 1;
  }

  .navigation {
    padding: 2rem;
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .connect {
    padding: 2rem;

    flex-basis: 350px;
    flex: 1;
  }
}

.about-us {
  padding: 5rem;
  font-size: 1.2rem;
}

.row-g {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

  /* Create two equal columns that sits next to each other */
  .column-g {
    flex: 33.33%;
    padding: 0 4px;

    @media (max-width: 600px) {
      flex: 100%;
    }
  }

  .column-g img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}

.fa-map-marker-alt,
  .fa-phone-alt,
  .fa-mobile-alt,
  .fa-envelope {
    color: $secondary;
  }

.contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .info, .map {
    flex: 1;
    flex-basis: 500px;
  }
  .info {
    .ad {
      margin: 2rem;
      margin-left: 0;
      padding: 2rem;
      font-size: 1.2rem;
      box-shadow: 1px 1px 5px 5px #888888;
      border-radius: 0 50px 50px 0;
    }
  }
  .map {
    margin: 1rem;
    border: 5px solid #fff;
    box-shadow: 1px 1px 5px 5px #888888;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 500px !important;
    
    }
  }
